@keyframes moveDown {
    0% {
        top: -30px;
        opacity: 0.5;
    }
    100% {
        top: 0;
        opacity: 1;
    }
  }
  
  @keyframes moveright {
    0%, 25%, 50% {
      right: -30px;
      opacity: 0.8;
  }
  100% {
      right: 0; 
      opacity: 1;
    }
  }
  
  @keyframes moveright2 {
    0% {
      right: -30px;
      opacity: 0.8;

  }
  100% {
      right: 0;
      opacity: 1;
    }
  }
  
  @keyframes moveleft {
    0%, 30%, 60% {
      left: -30px;
      opacity: 0.8;
  }
  100% {
      left: 0;
      opacity: 1;
    }
  }